
/* *{
    color:yellow;
    background-color:green;
} */

.myStyle{
    border: 2px solid green;
    width: 50vw;
    margin: auto;
    border-radius:5px;
    min-width:230px;
    max-width:320px;
    padding:12px;
}


.inputStyle{
    border: none;
    border-bottom: 2px solid green;
    border-radius: 2px;
}
.inputStyle:focus{
    outline:none;
}
.disabledColor{
    border-color:rgba(50, 49, 49, 0.942);
    opacity:0.6;
}